<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>hello world</h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laborum, vitae deserunt! Corrupti assumenda nisi,
        explicabo quia maxime incidunt illum omnis dolores deleniti necessitatibus sunt, est nam sapiente molestiae
        ducimus alias.</p>
</body>

</html>